// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_index {
  position: fixed;
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 10px solid black;
  width: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.project_index_item {
  float: left;
  display: inline-block;
  position: relative;
  width: 22%;
  height: 600px;
  border: 1px solid gainsboro;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;

}

.proj_title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  display: block;
  color: blue;

}

.proj_category {
  display: block;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  background-color: mediumaquamarine;
  text-align: center;
  border-radius: 25px;
}

.proj_tagline {
  padding: 0px 10px;
  font-size: 14px;
  font-weight: normal;
  color: blue;
}

.proj_descr {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
  color: blue;
}

.proj_goal {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
  color: blue;
}

.proj_start {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
  color: blue;
}

.proj_deadline {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
  color: blue;
}

.thumbnail {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
