/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: black;
  vertical-align: baseline;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background: white;
  color: black;
  position: relative;
}

.login-screen {
  display: block;
  text-align: center;
  position: relative;
  z-index: 100;
  background: gray;
  opacity: 50%;
  width: 100%;
}

.auth {
  display: inline-block;
  text-align: center;
  background: white;
  color: blue;
  padding: 5px;
  margin: 20px;
  position: relative;
  z-index: 100;
  width: 400px;
  height: 380px;
}

.hidden {
  display: none;
}

/*.nav {
  display: inline;
  padding: 10px 20px;
  width: 100%;

}

.nav-item {
  display: block;
  float: left;
  background: teal;
  padding: 10px;
}*/
