.category-list {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  top: 250px;

}


.category {
  font-size: 33px;
  position: relative;
  background-color: crimson;
  color: white;
  padding: 50px 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid crimson;
  transition-duration: 0.3s;
}

.category:hover {
  background-color: white;
  color: crimson;
}
