

.category-list {
  margin: 15% 10%;
  max-width: 100%;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // background: red;
  background-size: cover;
}

.category {
  font-size: 28px;
  position: relative;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  padding: 30px 10px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: 3px solid black;
  transition-duration: 0.3s;
  cursor: pointer;
  min-width: 200px;
  height: 150px;

  display: flex;
}

.category:hover {
  background-color: white;
  color: crimson;
}

.category-name {
  text-align: center;
  margin: auto;
}

.category-info {
  display: none;
}

#Biology {
  background-image: url("http://res.cloudinary.com/catalyst/image/upload/v1456971212/biology_i99iig.jpg");
  background-size: cover;
}

#Chemistry {
  background-image: url("http://res.cloudinary.com/catalyst/image/upload/c_scale,w_724/v1456977140/chemistry_tql5zn.jpg");
  background-size: cover;
}


#Physics {
  background-image: url("http://res.cloudinary.com/catalyst/image/upload/v1456977417/physics_htcgil.jpg");
  background-size: cover;
}

#Medicine {
  background-image: url("http://res.cloudinary.com/catalyst/image/upload/v1456977963/medicine_v85k6z.jpg");
  background-size: cover;
}

#Engineering {
  background-image: url("http://res.cloudinary.com/catalyst/image/upload/v1456979036/engineering2_xxlohf.jpg");
  background-size: cover;
}
