.form {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.form-title {
  padding: 50px 0px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.form-items {
  padding: 0;
  margin-left: 15%;
  width: 50%;
  float: left;
  // text-align: center;
}




.dropdown {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background: gainsboro;
  color: black;
  font-size: 16px;
}

// Bonus: make dropdown fancy
// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   padding: 12px 16px;
//   z-index: 1;
//
// }
//
// .dropdown:hover .dropdown-content {
//     display: block;
// }
