// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-index {
  position: relative;
  width: 100%;
  display: block;
  margin: auto;
  padding: 20px;
  max-width: 1200px;
  // justify-content: center;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.project-index-item {
  float: left;
  display: inline-block;
  position: relative;
  height: 500px;
  border: 1px solid midnightblue;
  box-shadow: 5px 5px 9px midnightblue;
  margin: 70px 20px;
  overflow: hidden;
  border-radius: 10px;
  width: 29%;
  flex-basis: 200px;
  min-width: 100px;
  min-height: 600px;
  color: darkcyan;
  flex: none;
}

.proj-title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  display: block;
}

.proj-category {
  display: block;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: normal;
  color: black;
  background-color: mediumaquamarine;
  text-align: center;
  border-radius: 25px;
  min-width: 50px;
  flex: none;
}

.proj-tagline {
  margin: 0px 10px;
  font-size: 14px;
  font-weight: normal;
}

.proj-descr {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
}

.proj-goal {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
}

.proj-start {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
}

.proj-deadline {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
}

.proj-creator {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
}

.thumbnail {
  // margin: 0 auto;
  min-height: 220px;
  // width: auto;
  // height: auto;
  // padding: 0;
  cursor: pointer;
  background-size: cover;
  // overflow: hidden;

}

.thumbnail:hover {
  opacity: 0.7;
}

.background-image {
  display: flex;
  height: 30%;
}

.background-image * {
  margin: 0 auto;
  // height: 30%;
  // width: 50%;
}
